@page "/about"

<h1>Тестовое задание: Список групп</h1>
<h3>Выполнил студент группы ДИПР-31: Самарский В.В.</h3>
<pre>
    Реализовать сервис учета студентов по группам. 
    Приложение должно иметь две страницы встроенные в один шаблон (masterpage). 
    Страница "О программе" статичная и должна содержать ФИО студента, выполнившего работу, и текст задания.
    Страница "Главная" содержит выпадающий список групп и таблицу со списком студентов группы. Каждая строка таблицы - ФИО и номер зачетной книжки. Должны иметься возможности:
    1. Просматривать список студентов в разных группах
    2. Добавлять студентов
    3. Редактировать данные студента
    4. Удалять студента

    *Реализовывать добавление/удаление групп - не нужно. Достаточно продемонстрировать что их перечень загружается из БД.
</pre>